<nav class="navbar navbar-expand-lg  nav-bg">
    <div class="container-fluid">
        <a class="navbar-brand txt-color" href="/dashboard">D-License</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse justify-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link  txt-color" aria-current="page" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  txt-color" aria-current="page" href="/g2">G2_Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link txt-color" href="/g">G_Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link txt-color" href="/login">LogIn</a>
                </li>

            </ul>
        </div>
    </div>
</nav>